<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's Me!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis cursus in hac habitasse platea dictumst quisque sagittis. Cras sed felis eget velit. Ut etiam sit amet nisl purus in mollis nunc sed. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Porttitor eget dolor morbi non arcu risus. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Proin gravida hendrerit lectus a. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Ut sem nulla pharetra diam. Sit amet porttitor eget dolor morbi non arcu risus. Platea dictumst quisque sagittis purus sit amet volutpat consequat mauris. Dui ut ornare lectus sit amet est placerat in. Molestie nunc non blandit massa enim nec.

Adipiscing tristique risus nec feugiat in fermentum posuere urna. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Pharetra pharetra massa massa ultricies. Vel pharetra vel turpis nunc eget. Semper auctor neque vitae tempus quam pellentesque nec nam. Dui ut ornare lectus sit amet est placerat in egestas. Congue eu consequat ac felis donec et odio. Nisl vel pretium lectus quam id leo. Suspendisse sed nisi lacus sed viverra tellus in. Odio euismod lacinia at quis risus sed vulputate odio. Vestibulum morbi blandit cursus risus at ultrices. Imperdiet sed euismod nisi porta. Euismod elementum nisi quis eleifend quam adipiscing. Ante in nibh mauris cursus. Eu nisl nunc mi ipsum. Condimentum mattis pellentesque id nibh tortor id aliquet lectus. Tempus egestas sed sed risus pretium quam. Enim nulla aliquet porttitor lacus luctus. Nec dui nunc mattis enim. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor.</p>
  </div>
</div>
